src/main/resources/wsdl/UserServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UserServicesService" targetNamespace="http://tutorial.cxf.wsdl/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tutorial.cxf.wsdl/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns="http://tutorial.cxf.wsdl/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tutorial.cxf.wsdl/v1">
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="uId" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="userType" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="checkFaultBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getUser" nillable="true" type="xs:string"/>
  <xs:element name="getUserResponse" nillable="true" type="user"/>
  <xs:element name="UserNotFoundException" nillable="true" type="checkFaultBean"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getUser">
    <wsdl:part name="parameters" element="tns:getUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UserNotFoundException">
    <wsdl:part name="UserNotFoundException" element="tns:UserNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserResponse">
    <wsdl:part name="parameters" element="tns:getUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UserServices">
    <wsdl:operation name="getUser">
      <wsdl:input name="getUser" message="tns:getUser">
    </wsdl:input>
      <wsdl:output name="getUserResponse" message="tns:getUserResponse">
    </wsdl:output>
      <wsdl:fault name="UserNotFoundException" message="tns:UserNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserServicesServiceSoapBinding" type="tns:UserServices">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UserNotFoundException">
        <soap:fault name="UserNotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserServicesService">
    <wsdl:port name="UserServicesPort" binding="tns:UserServicesServiceSoapBinding">
      <soap:address location="http://localhost:9090/UserServicesPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
